<div class="landing-section" id="home">
    <div class="content">
      <h1 class="hero-section">Preuner.mp4</h1>
      <p class="hero-desc">Upload, edit, and transform your videos with ease.</p>
      <a href="/dashboard" ariaCurrentWhenActive="page" routerLinkActive="active"  class="cta-button">Get Started</a>
    </div>
  </div>
  
  <div class="landing-section" id="features">
    <div class="content">
      <h2>Features</h2>
      <ul>
        <li>Upload videos seamlessly</li>
        <li>Intuitive video editing tools</li>
        <li>Enhance your videos with special effects</li>
      </ul>
      <a href="#contact" class="cta-button">Learn More</a>
    </div>
  </div>
  
  <div class="landing-section" id="contact">
    <div class="content">
      <h2>Contact Us</h2>
      <p>Have questions or need support? Contact our team.</p>
      <a href="#" class="cta2-button">Contact Us</a>
    </div>
  </div>