.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    justify-content: space-around;
  }
  @media (max-width: 600px) {
    .card-container {
      grid-template-columns: 1fr;
    }
  }  
  .empty{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    color: #1A3084;
    
}